In [47]:
# importing the libraries
import keras
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import datasets 
from  sklearn.preprocessing import normalize,LabelEncoder

In [34]:
df = sns.load_dataset("iris")

In [35]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [36]:
#unique values of y
np.unique(df['species'])

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [37]:
# label encoding of species coloumn
encoder = LabelEncoder()
species = encoder.fit_transform(df['species'])
df['species'] = species

In [38]:
df.head()
#df.info()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [39]:
X = df.drop('species',axis=1)
y = df['species']

In [40]:
#printing the shape of X,y
print(X.shape)
print(y.shape)

(150, 4)
(150,)

In [46]:
# normalizing the X table
X_nor = normalize(X,axis=0)
X_nor[:4]

array([[0.07056264, 0.09254209, 0.02754801, 0.01150242],
       [0.06779548, 0.07932179, 0.02754801, 0.01150242],
       [0.06502832, 0.08460991, 0.02558029, 0.01150242],
       [0.06364474, 0.08196585, 0.02951572, 0.01150242]])

In [50]:
# splitting the data 
total_length = len(df)
train_length = int(0.8* total_length)
test_length = int(0.2* total_length)

X_train = X_nor[:train_length]
X_test = X_nor[train_length:]
y_train = y[:train_length]
y_test = y[train_length:]

print("Length of train set x:",X_train.shape,"y:",y_train.shape)
print("Length of test set x:",X_test.shape,"y:",y_test.shape)

Length of train set x: (120, 4) y: (120,)
Length of test set x: (30, 4) y: (30,)

In [51]:
#Neural network module
from keras.models import Sequential 
from keras.layers import Dense,Activation,Dropout 
from keras.layers.normalization import BatchNormalization 
from keras.utils import np_utils

In [52]:
y_train=np_utils.to_categorical(y_train,num_classes=3)
y_test=np_utils.to_categorical(y_test,num_classes=3)
print("Shape of y_train",y_train.shape)
print("Shape of y_test",y_test.shape)

Shape of y_train (120, 3)
Shape of y_test (30, 3)

In [53]:
model = Sequential()
model.add(Dense(1000,input_dim = 4 , activation='relu'))
model.add(Dense(500,activation='relu'))
model.add(Dense(300,activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(3,activation='softmax'))
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [55]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 1000)              5000
_________________________________________________________________
dense_1 (Dense)              (None, 500)               500500
_________________________________________________________________
dense_2 (Dense)              (None, 300)               150300
_________________________________________________________________
dropout (Dropout)            (None, 300)               0
_________________________________________________________________
dense_3 (Dense)              (None, 3)                 903
=================================================================
Total params: 656,703
Trainable params: 656,703
Non-trainable params: 0
_________________________________________________________________

In [56]:
model.fit(X_train,y_train,validation_data=(X_test,y_test),batch_size=20,epochs=10,verbose=1)

Epoch 1/10
6/6 [==============================] - 0s 39ms/step - loss: 1.0750 - accuracy: 0.5500 - val_loss: 1.2638 - val_accuracy: 0.0000e+00
Epoch 2/10
6/6 [==============================] - 0s 10ms/step - loss: 0.9937 - accuracy: 0.6667 - val_loss: 1.5333 - val_accuracy: 0.0000e+00
Epoch 3/10
6/6 [==============================] - 0s 10ms/step - loss: 0.8762 - accuracy: 0.8250 - val_loss: 1.5218 - val_accuracy: 0.0000e+00
Epoch 4/10
6/6 [==============================] - 0s 10ms/step - loss: 0.7134 - accuracy: 0.8333 - val_loss: 1.2778 - val_accuracy: 0.0000e+00
Epoch 5/10
6/6 [==============================] - 0s 10ms/step - loss: 0.5099 - accuracy: 0.8333 - val_loss: 1.1263 - val_accuracy: 0.0000e+00
Epoch 6/10
6/6 [==============================] - 0s 10ms/step - loss: 0.3800 - accuracy: 0.8333 - val_loss: 1.0459 - val_accuracy: 0.0000e+00
Epoch 7/10
6/6 [==============================] - 0s 10ms/step - loss: 0.2826 - accuracy: 0.8833 - val_loss: 0.5822 - val_accuracy: 0.7667
Epoch 8/10
6/6 [==============================] - 0s 11ms/step - loss: 0.2173 - accuracy: 0.9333 - val_loss: 0.4798 - val_accuracy: 0.7667
Epoch 9/10
6/6 [==============================] - 0s 10ms/step - loss: 0.1650 - accuracy: 0.9750 - val_loss: 1.1301 - val_accuracy: 0.3333
Epoch 10/10
6/6 [==============================] - 0s 10ms/step - loss: 0.1674 - accuracy: 0.9417 - val_loss: 0.1345 - val_accuracy: 1.0000

In [59]:
prediction=model.predict(X_test)
length=len(prediction)
y_label=np.argmax(y_test,axis=1)
predict_label=np.argmax(prediction,axis=1)

accuracy=np.sum(y_label==predict_label)/length * 100 
print("Accuracy of the dataset : ",accuracy,'%' )

Accuracy of the dataset :  100.0 %