In [2]:
import pandas as pd 
import seaborn as sns

In [3]:
df = pd.read_csv("heart.csv")

In [16]:
df.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [17]:
df

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0     63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1     37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2     41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3     56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4     57    0   0       120   354    0  ...      1      0.6      2   0     2       1
..   ...  ...  ..       ...   ...  ...  ...    ...      ...    ...  ..   ...     ...
298   57    0   0       140   241    0  ...      1      0.2      1   0     3       0
299   45    1   3       110   264    0  ...      0      1.2      1   0     3       0
300   68    1   0       144   193    1  ...      0      3.4      1   2     3       0
301   57    1   0       130   131    0  ...      1      1.2      1   1     3       0
302   57    0   1       130   236    0  ...      0      0.0      1   1     2       0

[303 rows x 14 columns]

In [18]:
x = df.iloc[:,:13]

In [19]:
x

     age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
0     63    1   3       145   233  ...      0      2.3      0   0     1
1     37    1   2       130   250  ...      0      3.5      0   0     2
2     41    0   1       130   204  ...      0      1.4      2   0     2
3     56    1   1       120   236  ...      0      0.8      2   0     2
4     57    0   0       120   354  ...      1      0.6      2   0     2
..   ...  ...  ..       ...   ...  ...    ...      ...    ...  ..   ...
298   57    0   0       140   241  ...      1      0.2      1   0     3
299   45    1   3       110   264  ...      0      1.2      1   0     3
300   68    1   0       144   193  ...      0      3.4      1   2     3
301   57    1   0       130   131  ...      1      1.2      1   1     3
302   57    0   1       130   236  ...      0      0.0      1   1     2

[303 rows x 13 columns]

In [20]:
y = df.iloc[:,13:]

In [21]:
y

     target
0         1
1         1
2         1
3         1
4         1
..      ...
298       0
299       0
300       0
301       0
302       0

[303 rows x 1 columns]

In [22]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
y = encoder.fit_transform(y)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_label.py:251: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [23]:
from keras.utils import to_categorical
y = to_categorical(y)

In [24]:
y

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.]], dtype=float32)

In [29]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x = scaler.fit_transform(x)
x

array([[ 0.9521966 ,  0.68100522,  1.97312292, ..., -2.27457861,
        -0.71442887, -2.14887271],
       [-1.91531289,  0.68100522,  1.00257707, ..., -2.27457861,
        -0.71442887, -0.51292188],
       [-1.47415758, -1.46841752,  0.03203122, ...,  0.97635214,
        -0.71442887, -0.51292188],
       ...,
       [ 1.50364073,  0.68100522, -0.93851463, ..., -0.64911323,
         1.24459328,  1.12302895],
       [ 0.29046364,  0.68100522, -0.93851463, ..., -0.64911323,
         0.26508221,  1.12302895],
       [ 0.29046364, -1.46841752,  0.03203122, ..., -0.64911323,
         0.26508221, -0.51292188]])

In [30]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=3)

In [39]:
from keras.models import Sequential
from keras.layers import Dense,Dropout

model = Sequential()

model.add(Dense(32,input_dim = 13,activation = 'relu'))
model.add(Dense(128,activation = 'relu'))
model.add(Dense(64,activation = 'relu'))
model.add(Dense(44,activation = 'relu'))
model.add(Dense(128,activation = 'relu'))
model.add(Dropout(0.4))
model.add(Dense(16,activation = 'relu'))
model.add(Dense(2,activation = 'softmax'))
model.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['accuracy'])

model.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_29 (Dense)             (None, 32)                448
_________________________________________________________________
dense_30 (Dense)             (None, 128)               4224
_________________________________________________________________
dense_31 (Dense)             (None, 64)                8256
_________________________________________________________________
dense_32 (Dense)             (None, 44)                2860
_________________________________________________________________
dense_33 (Dense)             (None, 128)               5760
_________________________________________________________________
dropout_4 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_34 (Dense)             (None, 16)                2064
_________________________________________________________________
dense_35 (Dense)             (None, 2)                 34
=================================================================
Total params: 23,646
Trainable params: 23,646
Non-trainable params: 0
_________________________________________________________________

In [40]:
model.fit(x_train,y_train,batch_size= 64,epochs=45,verbose=1)

Epoch 1/45
4/4 [==============================] - 1s 4ms/step - loss: 0.6872 - accuracy: 0.5270
Epoch 2/45
4/4 [==============================] - 0s 4ms/step - loss: 0.6299 - accuracy: 0.6960
Epoch 3/45
4/4 [==============================] - 0s 3ms/step - loss: 0.5592 - accuracy: 0.7526
Epoch 4/45
4/4 [==============================] - 0s 4ms/step - loss: 0.4748 - accuracy: 0.8332
Epoch 5/45
4/4 [==============================] - 0s 4ms/step - loss: 0.4252 - accuracy: 0.8437
Epoch 6/45
4/4 [==============================] - 0s 4ms/step - loss: 0.3922 - accuracy: 0.8503
Epoch 7/45
4/4 [==============================] - 0s 4ms/step - loss: 0.3517 - accuracy: 0.8518
Epoch 8/45
4/4 [==============================] - 0s 3ms/step - loss: 0.3104 - accuracy: 0.8747
Epoch 9/45
4/4 [==============================] - 0s 3ms/step - loss: 0.3333 - accuracy: 0.8627
Epoch 10/45
4/4 [==============================] - 0s 3ms/step - loss: 0.2965 - accuracy: 0.8719
Epoch 11/45
4/4 [==============================] - 0s 4ms/step - loss: 0.2523 - accuracy: 0.9035
Epoch 12/45
4/4 [==============================] - 0s 4ms/step - loss: 0.2171 - accuracy: 0.9053
Epoch 13/45
4/4 [==============================] - 0s 4ms/step - loss: 0.2348 - accuracy: 0.9096
Epoch 14/45
4/4 [==============================] - 0s 4ms/step - loss: 0.2190 - accuracy: 0.9097
Epoch 15/45
4/4 [==============================] - 0s 4ms/step - loss: 0.2320 - accuracy: 0.9161
Epoch 16/45
4/4 [==============================] - 0s 4ms/step - loss: 0.1693 - accuracy: 0.9540
Epoch 17/45
4/4 [==============================] - 0s 4ms/step - loss: 0.1728 - accuracy: 0.9510
Epoch 18/45
4/4 [==============================] - 0s 4ms/step - loss: 0.1747 - accuracy: 0.9538
Epoch 19/45
4/4 [==============================] - 0s 4ms/step - loss: 0.1425 - accuracy: 0.9580
Epoch 20/45
4/4 [==============================] - 0s 4ms/step - loss: 0.1305 - accuracy: 0.9543
Epoch 21/45
4/4 [==============================] - 0s 4ms/step - loss: 0.1109 - accuracy: 0.9680
Epoch 22/45
4/4 [==============================] - 0s 4ms/step - loss: 0.0864 - accuracy: 0.9881
Epoch 23/45
4/4 [==============================] - 0s 5ms/step - loss: 0.0920 - accuracy: 0.9749
Epoch 24/45
4/4 [==============================] - 0s 4ms/step - loss: 0.0818 - accuracy: 0.9857
Epoch 25/45
4/4 [==============================] - 0s 5ms/step - loss: 0.0561 - accuracy: 0.9908
Epoch 26/45
4/4 [==============================] - 0s 7ms/step - loss: 0.0531 - accuracy: 0.9940
Epoch 27/45
4/4 [==============================] - 0s 4ms/step - loss: 0.0611 - accuracy: 0.9884
Epoch 28/45
4/4 [==============================] - 0s 4ms/step - loss: 0.0394 - accuracy: 0.9946
Epoch 29/45
4/4 [==============================] - 0s 5ms/step - loss: 0.0473 - accuracy: 0.9915
Epoch 30/45
4/4 [==============================] - 0s 4ms/step - loss: 0.0531 - accuracy: 0.9810
Epoch 31/45
4/4 [==============================] - 0s 4ms/step - loss: 0.0326 - accuracy: 0.9899
Epoch 32/45
4/4 [==============================] - 0s 4ms/step - loss: 0.0274 - accuracy: 0.9930
Epoch 33/45
4/4 [==============================] - 0s 4ms/step - loss: 0.0243 - accuracy: 0.9983
Epoch 34/45
4/4 [==============================] - 0s 5ms/step - loss: 0.0266 - accuracy: 0.9957
Epoch 35/45
4/4 [==============================] - 0s 4ms/step - loss: 0.0193 - accuracy: 0.9973
Epoch 36/45
4/4 [==============================] - 0s 4ms/step - loss: 0.0161 - accuracy: 0.9973
Epoch 37/45
4/4 [==============================] - 0s 4ms/step - loss: 0.0201 - accuracy: 0.9957
Epoch 38/45
4/4 [==============================] - 0s 4ms/step - loss: 0.0154 - accuracy: 0.9957
Epoch 39/45
4/4 [==============================] - 0s 3ms/step - loss: 0.0090 - accuracy: 0.9983
Epoch 40/45
4/4 [==============================] - 0s 3ms/step - loss: 0.0266 - accuracy: 0.9926
Epoch 41/45
4/4 [==============================] - 0s 4ms/step - loss: 0.0198 - accuracy: 0.9926
Epoch 42/45
4/4 [==============================] - 0s 3ms/step - loss: 0.0131 - accuracy: 0.9926
Epoch 43/45
4/4 [==============================] - 0s 4ms/step - loss: 0.0090 - accuracy: 0.9973
Epoch 44/45
4/4 [==============================] - 0s 5ms/step - loss: 0.0095 - accuracy: 0.9926
Epoch 45/45
4/4 [==============================] - 0s 3ms/step - loss: 0.0054 - accuracy: 1.0000

In [41]:
model.evaluate(x_test,y_test)

2/2 [==============================] - 0s 5ms/step - loss: 1.1624 - accuracy: 0.8525

[1.1623797416687012, 0.8524590134620667]

In [43]:
x.shape

(303, 13)

In [44]:
y.shape

(303, 2)